main {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.wrapper {
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.wrapper h1 {
  margin: 0 auto !important;

}
img {
  margin: 0;
}
