.comments form {
    width: auto;
    display: flex;
    margin-bottom: 1em;
  }
  .comments form input {
    padding: 0.5em;
  }
  .comments input[type="text"] {
    flex-grow: 1;
    margin-right: 1em;
  }
  .comments input[type="submit"] {
    background: #282828;
    border: none;
    color: #e3dede;
    font-weight: bold;
    cursor: pointer;
  }
  .comments input[type="submit"]:hover {
    color: #282828;
    background: #e3dede;
  }
  .comment {
    margin-left: 0.25em;
    margin-right: 2em;
    border: 1px solid #282828;
    padding: 0.5em;
    margin-bottom: 1em;
  }
  .comment .username {
    font-weight: bold;
  }