{% extends "base.html" %}

{% block css %}
  <link rel="stylesheet" href="{{url_for('static', filename='archive.css')}}">
{% endblock %}

{% block title %}
  Архив
{% endblock %}

{% block content %}
<div class="archive-wrapper">
  <ul class="archive">
    {% for year in range(2019,2021) %}
      <li>
        <input type="checkbox" id="year-{{year}}">
        <label for="year-{{year}}">{{year}}</label>
        <ul>
          {% for month in range(1,5) %}
            <li>
              <input type="checkbox" id="month-{{month}}-{{year}}">
              <label for="month-{{month}}-{{year}}">Month</label>
              <ul>
                {% for _ in range(5) %}
                  <li><a href="/article/0">Lorem ipsum dolor sit amet.</a></li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
