{% extends "base.html" %}

{% block css %}
  <link rel="stylesheet" href="{{url_for('static', filename='archive.css')}}">
{% endblock %}

{% block title %}
  Архив
{% endblock %}

{% block content %}
{% if no_articles %}
  <h1>Пока что здесь нет статей... Пока что.</h1>
{% endif %}
<div class="archive-wrapper">
  <ul class="archive">
    {% for year in archive %}
      <li>
        <input type="checkbox" id="year-{{year}}">
        <label for="year-{{year}}">{{year}}</label>
        <ul>
          {% for month in archive[year] %}
            <li>
              <input type="checkbox" id="month-{{month}}-{{year}}">
              <label class="month" for="month-{{month}}-{{year}}">{{month}}</label>
              <ul>
                {% for article in archive[year][month] %}
                  <li><a href="/article/{{article[0]}}">{{article[1]}}</a></li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</div>
<script type="text/javascript">
  "use strict"
  var labels = document.querySelectorAll("label.month");
  var months = ['', 'Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'];
  labels.forEach(month => {
    month.innerHTML = months[month.innerHTML];
  });

</script>
{% endblock %}
