{% extends "base.html" %}

{% block css %}
  <link rel="stylesheet" href="/static/archive.css">
{% endblock %}

{% block title %}
  Архив
{% endblock %}

{% block content %}
<div class="arhive-wrapper">
  <ul class="archive">
    <li>
      <input type="checkbox" id="year-1">
      <label for="year-1">2019</label>
      <ul>
        <li>
          <input type="checkbox" id="month-1">
          <label for="month-1">Month</label>
          <ul>
            <li><a href="/article/0">Lorem ipsum dolor sit amet qwerqw.</a></li>
            <li><a href="/article/0">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="/article/0">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="/article/0">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="/article/0">Lorem ipsum dolor sit amet.</a></li>
          </ul>
        </li>
        <li>
          <input type="checkbox" id="month-2">
          <label for="month-2">Month</label>
          <ul>
            <li><a href="/article/0">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="/article/0">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="/article/0">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="/article/0">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="/article/0">Lorem ipsum dolor sit amet.</a></li>
          </ul>
        </li>
        <li>
          <input type="checkbox" id="month-3">
          <label for="month-3">Month</label>
          <ul>
            <li><a href="/article/0">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="/article/0">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="/article/0">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="/article/0">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="/article/0">Lorem ipsum dolor sit amet.</a></li>
          </ul>
        </li>
        <li>
          <input type="checkbox" id="month-4">
          <label for="month-4">Month</label>
          <ul>
            <li><a href="/article/0">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="/article/0">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="/article/0">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="/article/0">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="/article/0">Lorem ipsum dolor sit amet.</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <input type="checkbox" id="year-2">
      <label for="year-2">2020</label>
      <ul>
        <li>
          <input type="checkbox" id="month-1">
          <label for="month-1">Month</label>
          <ul>
            <li><a href="/article/0">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="/article/0">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="/article/0">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="/article/0">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="/article/0">Lorem ipsum dolor sit amet.</a></li>
          </ul>
        </li>
        <li>
          <input type="checkbox" id="month-2">
          <label for="month-2">Month</label>
          <ul>
            <li><a href="/article/0">Lorem ipsum dolor sit amet.</a></li >
            <li><a href="/article/0">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="/article/0">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="/article/0">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="/article/0">Lorem ipsum dolor sit amet.</a></li>
          </ul>
        </li>
        <li>
          <input type="checkbox" id="month-3">
          <label for="month-3">Month</label>
          <ul>
            <li><a href="/article/0">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="/article/0">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="/article/0">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="/article/0">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="/article/0">Lorem ipsum dolor sit amet.</a></li>
          </ul>
        </li>
        <li>
          <input type="checkbox" id="month-4">
          <label for="month-4">Month</label>
          <ul>
            <li><a href="/article/0">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="/article/0">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="/article/0">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="/article/0">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="/article/0">Lorem ipsum dolor sit amet.</a></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
{% endblock %}
