<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=1440, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog layout</title>
  <link rel="stylesheet" href="/static/main.css">
</head>
<body>
  <header>
    <nav>
      <ul class="main_menu">
        <li><a href="/">Главная</a></li>
        <li><a href="/archive">Архив</a></li>
        <li><a href="/about">О блоге</a></li>
        <li class="login"><a href="#">Вход</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h1>Заголовок</h1>
    <h2>H2</h2>
    <h3>H3</h3>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis vel explicabo ducimus omnis, aspernatur minima ipsum sit excepturi, odit quos beatae, accusantium dolore iure distinctio ullam facere nostrum animi obcaecati ea dolorem doloremque amet neque dolores similique aperiam? Qui ipsa magni amet saepe similique veniam, quaerat nam officiis. Rem minus, nobis animi deleniti. Asperiores quia accusamus in non deserunt rem, porro et doloribus facere, sed, quibusdam, accusantium quae fugit odio inventore ullam temporibus beatae! Officiis doloremque voluptas, nihil saepe. Minus vitae architecto fugiat atque placeat enim inventore incidunt. Accusamus quod ad molestiae odio adipisci odit. Commodi odio eos, pariatur eius?
  </main>
</body>
</html>
