{% extends "base.html" %}

{% block title %}
  {{title}}
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{url_for('static', filename='article.css')}}">
{% endblock %}

{% block content %}
<div class="title-wrapper">
  <h1>{{title}}</h1>
  <div class="info">
    Создано {{date}} пользователем {{author}}.
  </div>
  {% if session['username'] == author or session['is_admin'] %}
    <a href="{{url_for('edit', id=id)}}" class="update">Редактировать</a>
  {% endif %}
</div>
<article>{{text}}</article>
{% endblock %}
