<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=1440, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
  {% block css %}

  {% endblock %}
</head>
<body>
  <header>
    <nav>
      <ul class="main_menu">
        <li><a href="/">Главная</a></li>
        <li><a href="/archive">Архив</a></li>
        <li><a href="/about">О блоге</a></li>
        {% if 'username' in session and session['is_author'] %}
          <li class="right"><a href="/create">Создать статью</a></li>
          {% if session['is_admin'] %}
            <li><a href="/admin">Админка</a></li>
          {% endif %}
          <li><a href="/logout">Выйти</a></li>
        {% elif session['is_admin'] and 'username' in session %}
          <li class="right"><a href="/admin">Админка</a></li>
          <li><a href="/logout">Выйти</a></li>
        {% elif 'username' in session %}
          <li class="right"><a href="/logout">Выйти</a></li>
        {% else %}
          <li class="right"><a href="/login">Войти</a></li>
          <li><a href="/register">Регистрация</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}

    {% endblock %}
  </main>
</body>
</html>
