{% extends "base.html" %}

{% block title %}
  Сменить пароль
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{url_for('static', filename='register.css')}}">
  <script type="text/javascript">
    function validate() {
      if (document.forms[0]['new_password'].value != document.forms[0]['repeat_password'].value) {
        document.forms[0]['new_password'].className = "incorrect_password";
        document.forms[0]['repeat_password'].className = "incorrect_password";
        return false;
      }
    }
  </script>
{% endblock %}

{% block content %}
<div class="login_box">
  <form action="change_password" method="post" onsubmit="return validate()">
    <h2>Сменить пароль</h2>
    <input type="password" name="current_password" placeholder="Текущий пароль">
    <input type="password" name="new_password" placeholder="Новый пароль">
    <input type="password" name="repeat_password" placeholder="Повторите пароль">
    {% if failed %}
      <p class="failure">Неверный пароль</p>
    {% endif %}
    <div class="info password_info">
      Пароли не совпадают.
    </div>
    <input type="submit" value="Сменить">
  </form>
</div>
{% endblock %}
