{% extends "base.html" %}

{% block title %}
  Главная
{% endblock %}

{% block content %}
{% if no_articles %}
  <h1>Пока что здесь нет статей... Пока что.</h1>
{% endif %}
{% for article in articles %}
<div class="card">
  <div class="title">
    <h2>{{article['title']}}</h2>
    <div class="created">Создано {{article['created']}} пользователем {{article['author']}}</div>
  </div>
  <p>{{article['text']}}</p>
  <a href="/article/{{article['id']}}">Читать далее</a>
</div>
{% endfor %}
{% endblock %}
