<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=1440, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Главная</title>
  <link rel="stylesheet" href="static/main.css">
</head>
<body>
  <header>
    <nav>
      <ul class="main_menu">
        <li><a href="/">Главная</a></li>
        <li><a href="/archive">Архив</a></li>
        <li><a href="/about">О блоге</a></li>
        <li class="login"><a href="#">Вход</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="card">
      <h2>Заголовок</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus perferendis incidunt fugiat enim, quis tenetur earum nisi, dolorem. Unde voluptates corrupti repudiandae perferendis deleniti corporis eos rerum quidem tenetur eligendi quae, molestiae porro, nisi deserunt atque modi ut quam. Nostrum cum labore in repellat fugit tempora ut illo inventore veniam.</p>
      <a href="/article/0">Читать далее</a>
    </div>
    <div class="card">
      <h2>Заголовок</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum ullam blanditiis ipsam nisi odit sed perspiciatis libero tenetur accusamus. Esse obcaecati natus quaerat adipisci in maiores odit voluptatum, dicta ut!</p>
      <a href="/article/1">Читать далее</a>
    </div>
    <div class="card">
      <h2>Заголовок</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum ullam blanditiis ipsam nisi odit sed perspiciatis libero tenetur accusamus. Esse obcaecati natus quaerat adipisci in maiores odit voluptatum, dicta ut! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, ratione.</p>
      <a href="/article/2">Читать далее</a>
    </div>
  </main>
</body>
</html>
